
/* Steve Stylin Biosite of Michele Patrick moddify after peer review */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-decoration-color: #ffffff;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    text-decoration-color: #ffffff;
}

nav ul li a {
    color: white; /* Change text color to white */
    text-decoration: none; /* Remove underline */
}

footer {
    background-color: #35424a;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}